@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  padding: 120px 0;
  max-width: 1360px;
  width: 81.75%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.header .wrapper {
  padding: 16px 0 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 168px;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  display: block;
  text-indent: -9999px;
  background-color: #000;
  transition: all .3s;
}

.hamburger,
.dropdown {
  display: none;
}

.nav-list {
  display: flex;
  flex-basis: 48%;
  gap: 39px;
}

.nav-item {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .5px;
}

.nav-item.active { color: #FD5646; }

.drop-icon::before {
  content: "\f107";
  padding: 4px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: "FontAwesome";
  float: right;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section styling start here  */
.banner .wrapper {
  padding: 0;
  width: 100%;
  display: flex;
}

.left-banner {
  max-width: 405px;
  flex-basis: 92%;
  position: relative;
  background: url(/assets/images/top-left-bg.jpg) center no-repeat;
  background-size: cover;
}

.banner-content {
  padding: 275px 27px;
}

.reservation-btn {
  padding: 12px 26px;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: #fff;
  color: #FD5646;
  font-size: 13px;
  font-weight: 600;
}

.banner-list,
.banner-item,
.banner-item img {
  height: 100%;
}

.banner-item img {
  max-width: 947px;
}

.banner-item:not(:first-child) {
  display: none;
}

.right-banner { position: relative; }

.prev-banner {
  display: inline-block;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  left: 3%;
  background-color: #FD5646;
  border-radius: 50%;
  opacity: .6;
  cursor: pointer;
}

.banner-heading {
  color: #fff;
  font-size: 51px;
  font-style: italic;
}

.banner-para {
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.prev-banner::before {
  content: "\f104";
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
  font-size: 25px;
}
/* banner section styling  end  */

/* about section styling start here  */
.about .wrapper {
  padding: 120px 0;
  display: flex;
}

.heading,
.middle-heading {
  padding-bottom: 23px;
  color: #FD5646;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heading::before {
  content: "";
  width: 30px;
  height: 1px;
  margin-right: 10px;
  background-color: #FD5646;
  display: inline-block;
  vertical-align: middle;
}

.main-heading,
.middle-main-heading {
  padding-right: 24%;
  padding-bottom: 32px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
}

.about-para {
  padding:0 46px 26px 0;
  font-size: 15px;
  line-height: 22px;
}

.about-anc { color: #7095ED; }

.about-image {
  display: flex;
  gap: 30px;
}

.about-img-list img{
  max-width: 160px;
}

.about-content { flex-basis: 54%; }
/* about section styling end here  */

/* menu section styling start here  */
.wrapper-large {
  width: 100%;
}

.menu .main-heading { width: 36%; }

.menu-list {
  display: flex;
  gap: 30px;
}

.menu-item {
  margin-bottom: 44px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.price {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FD5646;
  border-radius: 8px;
  border-start-start-radius: 0;
  color: #fff;
  font-size: 22px;
}

.menu-item figure {
  max-width: 264px;
}

.item-content {
  padding: 15px 20px;
  position: absolute;
  bottom: -27%;
  left: 0;
  background-color: #FD5646;
  color: #fff;
}

.menu-item:hover .item-content {
  bottom: 0;
  transition: all .5s;
}

.item-name,
.hidden-content p {
  padding-bottom: 15px;
}

.item-name {
  font-size: 22px;
  font-weight: 700;
}

.hidden-content p {
  font-size: 14px;
}

.make-reserve-btn {
  color: #fff;
  font-size: 14px;
}

.make-reserve-btn::before {
  content: "\f107";
  padding-left: 6px;
  font-family: "FontAwesome";
  float: right;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.control-slide {
  display: block;
  text-indent: -9999px;
  display: flex;
  justify-content: center;
}

.left-arrow::before,
.right-arrow::before {
  padding: 13px;
  content: "\f104";
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
  font-size: 25px;
  color: #FD5646;
  text-align: center;
  cursor: pointer;
}

.right-arrow::before { content: "\f105";}
/* menu section styling start end  */

/* chef section styling start here  */
.middle-heading,
.middle-main-heading {
  text-align: center;
}

.middle-main-heading {
  padding:0 0 80px;
  margin: 0 auto;
  width: 40%;
}
.chef-list {
  display: flex;
  gap: 30px;
}

.chef-item {
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  flex-basis: 32%;
  text-align: center;
}

.chef-img { padding: 5px; }

.chef-name {
  padding: 20px 0 16px 0;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
}

.designation {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 14px;
  letter-spacing: .5px;
}
/* chef section styling end here  */

/* reservation section styling starts here  */
.reservation { position: relative; }

.contact-bg {
  height: 780px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.contact-bg img { height: 100%; }

.reservation .wrapper {
  display: flex;
}

.left-reservation {
  padding: 70px 0;
  flex-basis: 48.5%;
 }

.table-reservation { flex-basis: 47%; }

.reservation .heading,
.reservation .main-heading,
.reserve-para {
  color: #fff;
}

.left-reservation .main-heading {
  padding: 0;
  margin-bottom: 32px;
}

.reserve-para {
  margin-bottom: 64px;
  line-height: 21px;
  font-size: 15px;
}

.phone-email {
  display: flex;
  justify-content: space-between;
}

.phone,
.emails {
  padding: 60px 7.7% 25px;
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.emails { padding: 60px 11.5% 25px; }

.phone-email a {
  display: block;
  color: #454545;
  font-size: 14px;
  line-height: 22px;
}

.contact-heading {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}


.phone::before,
.emails::before {
  content: "\f095";
  width: 70px;
  height: 70px;
  background-color: #FB5849;
  color: #fff;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-family: "FontAwesome";
  position: absolute;
  top: -16%;
  left: 36%;
}

.emails::before { content: "\f0e0"; }

.table-reservation {
  background-color: #fff;
  border-radius: 5px;
  margin-left: 6%;
  padding: 45px 0;
}


.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.table-reservation form { 
  width: 88%;
  margin: 0 auto;
}

.table-heading {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.form-input input{
  padding: 16px 19px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

.form-input textarea {
  resize: none;
  width: 100%;
  padding: 20px 15px;
}

.form-input input,
.form-input textarea:focus { outline: none; }

.table-reservation form .reservation-btn {
  width: 100%;
  background-color: #fd5646;
  color: #fff;
  font-size: 14px;
}
/* reservation section styling ends here  */

/* weeekly special section styling starts here  */
.tab-list {
  display: flex;
  justify-content: center;
}

.tab-list figure { text-align: center; }

.tab-logo {
  max-width: 90px;
}

.tab-list span {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.tab-list span.active { color: #FB5849; }

.tab-item-list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.tab-item {
  display: flex;
  align-items: center;
  flex-basis: 47.3%;
}

.tab-item figure {
  max-width: 96px ;
}

.item-price {
  width: 18%;
  height: 70px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FD5646;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  flex-basis: 20%;
}

.tab-content {
  padding-left: 7.6%;
  padding-right: 7%;
}

.tab-content .item-name {
  font-size: 20px;
}

.tab-content p {
  font-size: 13.5px;
  line-height: 22px;
}

.tab-item img { width: auto; }
/* weeekly special section styling end here  */







/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  